.login_form {
  display: flex;
  flex-flow: column;
  border: aliceblue dotted 1px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: aliceblue;
}

.login_form > input:nth-child(n) {
  margin-bottom: 1rem;
}
