.header__principal_row {
  align-items: center;
  min-height: 3.5rem;
}

#logo,
#loginIcon {
  margin-left: 1rem;
  position: relative;
  align-self: center;
}

li {
  list-style: none;
}

@media (min-width: 768px) {
  .header__space_evenly {
    justify-content: space-evenly;
  }
}
