:root {
  --bs-body-font-family: "Manrope" !important;
  --principal-color: #7922a5;
  --second-color: #e4d3ed;
  --principal-text-color: #2a2a2a;
  --second-text-color: #73838c;
}

.principal-btn {
  width: Hug (78px) px;
  height: Fixed (32px) px;
  top: 20px;
  left: 20px;
  padding: 10px 16px 10px 16px;
  gap: 10px;
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;
  background: var(--principal-color);
}

.second-btn {
  width: Hug (78px) px;
  height: Fixed (32px) px;
  top: 20px;
  left: 20px;
  padding: 10px 16px 10px 16px;
  gap: 10px;
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;
  background: var(--second-color);
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
